certifi==2021.10.8
click==7.1.2
Flask==1.1.2
gunicorn @ file:///home/conda/feedstock_root/build_artifacts/gunicorn_1635854004206/work
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1
